*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(img/background.jpg);
}
img{
    width: 70px;
    margin-left: 20px;
}
header{
    background: rgb(67, 142, 155);
    height: 80px;
    display: flex;
    justify-content: space-between;
}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#box{
    background: rgb(67, 142, 155);
    width: 70vh;
    height: 150px;
    margin: 70px 0 20px 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 23px;
}
#divH{
    margin-right: 20px;
    margin-top: 20px;
}
#bttn{
    width: 70px;
    margin-left: 10px;
}
#inp{
    height: 35px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}
#thumb_upB{
    margin-top: 30px;
    margin-left: 18vh;
}
#thumb_downB{
    margin-left: 20vh;
}